# Atlassian Jira MCP Server - Required Environment Variables
# ATLASSIAN_SITE_NAME: your Atlassian subdomain (e.g. "groupon" from groupon.atlassian.net)
# ATLASSIAN_USER_EMAIL: your Atlassian account email
# ATLASSIAN_API_TOKEN: generate at https://id.atlassian.com/manage-profile/security/api-tokens

ATLASSIAN_SITE_NAME=https://groupondev.atlassian.net/
ATLASSIAN_USER_EMAIL=pmunjal@groupon.com
ATLASSIAN_API_TOKEN=ATATT3xFfGF0ZW-viAur7xyue1iLOwaGrminw4zsFqL5P6jYyXhYTNqodfwk-o1xSBMBVaHDUvQ6serLIaXPF785ln2RLyD7gIziSK4_hOOynQcwBdCeAsEcWTIzdXJUizxEqmIs1w8DOHlQVrjqXB5lekk_v8SnYVn4guHnG1F57K5qcNkEaF0=EB4141FF
